.abilities {
    width: 800px;
    padding-bottom: 80px;
}

.abilities__icon {
    margin-bottom: 25px;
}

.suptitle {
    font-size: 35px;
    color: #1BFF07;
    margin-bottom: 25px;
}

.abilities__content {
    font-size: 22px;
    color: #fff;
    line-height: 30px;
}
